@model Ae.Blog.Models.Admin.AdminModel
@{
	ViewData["Title"] = "Admin";
}

<section style="max-width:1500px;">
    <h2>Admin</h2>
    <p><a href="@Url.Action("Logout", "Admin")">Log Out</a> &bull; <a href="@Url.Action("New", "Admin")">New Post</a></p>

    <h3>Upload</h3>
    <form action="upload" method="post" enctype="multipart/form-data">
        <input name="file" type="file" />
        <input type="submit" />
    </form>

    <h3>Site Publish</h3>
    <table>
        <thead>
            <tr>
                <th>Publish</th>
                <th>Flush Cache</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form method="post" action="/admin/publish/" onsubmit="return confirm('Are you sure you want to publish the website?');">
                        <button type="submit">Publish Website</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/admin/flush/" onsubmit="return confirm('Are you sure you want to flush the cache?');">
                        <button type="submit">Flush Cache</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Content</h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Created</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

        @foreach (var post in Model.Posts.OrderBy(x => x.Type).ThenByDescending(x => x.Published))
        {
            <tr>
                <td><a href="@post.Url">@post.Title</a></td>
                <td>@post.Type</td>
                <td>@post.Published.ToOrdinalWords()</td>
                <td>
                    <form method="get" action="/admin/edit/@post.Slug/">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/admin/delete/@post.Slug/" onsubmit="return confirm('Are you sure you want to delete the post @post.Title?');">
                        <input type="hidden" name="slug" value="@post.Slug" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }

        </tbody>
    </table>
</section>