@using AeBlog.Display;
@using AeBlog.ViewModels;
@using AeBlog.Data;
@model HomeViewModel
@{
    ViewBag.LayoutParameters = new LayoutParameters(null, ViewType.Home);
    Layout = "/Views/Layout.cshtml";
}

<div class="wrp">
    <div id="hi">Hello! I make things<span style="color:#777;">:</span></div>
    @foreach (var portfolio in Model.Portfolios)
    {
        @Html.Partial("PortfolioItem", portfolio)
    }
    <div class="duo">
        <h2 class="dbd">Blog Posts</h2>
        <ul>
            @foreach (var post in Model.Posts.Take(5))
            {
                <li>
                    <a href="/posts/@post.Slug/">@post.Title</a>
                </li>
            }
        </ul>
    </div>
    <div class="duo">
        <h2 class="dbd">About Me</h2>
        <p>I'm a software engineer from the UK who loves <a href="https://www.iamestranged.com/">making games</a>, writing code, and <a href="/posts/running/">running</a>.</p>
        <script>
            var m = 'mail', ae = 'alanedwardes', pe = '\u002e', cm = 'com', at = '\u0040', co = 'alan', t = 'to';
            document.write('<p>E' + m + ': <a href="' + m + t + ':' + co + at + ae + pe + cm + '">' + co + at + ae + pe + cm + '</a></p>')
        </script>
    </div>

    <div class="clr"></div>

    <div id="lastfm">
        @foreach (var album in Model.Albums.Take(12))
        {
            var image = album.Image.Single(img => img.Size == AlbumImageSize.Medium).Url.LocalPath;
            if (!image.StartsWith("/serve/"))
            {
                continue;
            }
            <div id="cover-@(album.Attributes.Rank - 1)" class="album">
                <a target="_blank" href="@album.Url" title="#@(album.Attributes.Rank): @album.Name by @album.Artist.Name, played @album.Playcount times this week.">
                    <img src="@(image)" alt="@album.Name by @album.Artist.Name album cover" width="64" height="64" />
                </a>
            </div>
        }
    </div>

    <div class="clr"></div>
</div>