@using Humanizer
@model IEnumerable<AeBlog.Models.PostSummary>
@{
    ViewData["Title"] = "Blog";
}

<section>
    @foreach (var post in Model)
    {
        <article>
            <h2><a href="/blog/posts/@post.Slug/">@post.Title</a></h2>
            <p class="meta">Posted on @post.Published.ToOrdinalWords() in <a href="/blog/category/@post.Category/">@post.Category</a></p>
            @Html.Raw(@post.Content)
        </article>
    }
</section>
