@using AeBlog.Extensions;
@model AeBlog.Models.Post
<article>
    @if (Model.IsSingle)
    {
        <h2>@Model.Title</h2>
    }
    else
    {
        <h2><a href="@Model.Url">@Model.Title</a></h2>
    }

    @if (Model.Updated.HasValue)
    {
        <p class="meta">Posted @Model.Published.ToOrdinalWords(), last updated @Model.Updated.Value.ToOrdinalWords() in <a href="/blog/category/@Model.Category/">@Model.Category</a></p>
    }
    else
    {
        <p class="meta">Posted @Model.Published.ToOrdinalWords() in <a href="/blog/category/@Model.Category/">@Model.Category</a></p>
    }

    @Html.Raw(Model.GetMarkdown())
    @if (Model.HasSummary && !Model.IsSingle)
    {
        <p><a href="@Model.Url">Continue Reading &raquo;</a></p>
    }
</article>