@model AeBlog.Models.Post
<article>
    @if (Model.IsSingle)
    {
        <h2>@Model.Title</h2>
    }
    else
    {
        <h2><a href="@Model.Url">@Model.Title</a></h2>
    }
    <p class="meta">Posted on @Model.Published.ToOrdinalWords() in <a href="/blog/category/@Model.Category/">@Model.Category</a></p>
    @if (Model.IsSingle)
    {
        @Html.Raw(CommonMark.CommonMarkConverter.Convert(Model.Content.Replace("---", string.Empty)));
    }
    else
    {
        var parts = Model.Content.Split("---");
        @Html.Raw(CommonMark.CommonMarkConverter.Convert(parts[0]));

        if (parts.Length > 1)
        {
            <p><a href="@Model.Url">Continue Reading &raquo;</a></p>
        }
    }
</article>