@using AeBlog.ViewModels;
@using AeBlog.Display;
@model SinglePortfolioViewModel
@{
    ViewBag.LayoutParameters = new LayoutParameters(Model.Portfolio.Name, ViewType.Portfolio);
    Layout = "/Views/Layout.cshtml";
}

<div class="wrp prt">
    <h1 class="dbd">@Model.Portfolio.Name &mdash; {% if portfolio_item.published %}{{ portfolio_item.published|date('F Y') }}{% else %}Ongoing Project{% endif %}</h1>

    <img class="boxshadow" id="portfolio-banner" src="/assets/@Model.Portfolio.Banner" alt="@Model.Portfolio.Name" />

    <p><a href="/portfolio/">&laquo; Back to Portfolio</a></p>

    @if (!string.IsNullOrWhiteSpace(Model.Portfolio.Description)) {
        <div class="lft">
            <h3 class="dbd">Description</h3>
            @Html.Raw(Model.Portfolio.Description)
        </div>
    }

    <div class="rgt">
        {% if portfolio_item_skills %}
        <h3 class="dbd">Skills</h3>
        <ul>
            {% for skill in portfolio_item_skills %}
            <li><a href="/portfolio/skill/{{ skill.id }}/">{{ skill.name }}</a> ({{ skill.usage_count }})</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if related_items %}
        <h3 class="dbd">Related Projects by Skill</h3>
        <ul>
            {% for related_item in related_items %}
            <li><a href="{{ related_item.get_absolute_url }}">{{ related_item.name }}</a> ({{ related_item.count }})</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="clr"></div>

    @if (!string.IsNullOrWhiteSpace(Model.Portfolio.Preview)) {
        <div id="portfolio-preview">
            <h3 class="dbd">Preview</h3>
            @Html.Raw(Model.Portfolio.Preview)
        </div>
    }

    @if (Model.Portfolio.Screenshots?.Count > 0)
    {
        <div class="portfolio-screenshots">
            <h3 class="dbd">Screenshots</h3>
            @foreach (var screenshot in Model.Portfolio.Screenshots)
            {
                <a href="/assets/@screenshot"><img class="dbd boxshadow" src="/assets/@screenshot" alt="@screenshot"/></a>
            }
        </div>
    }

    <p><br><a href="/portfolio/">&laquo; Back to Portfolio</a></p>
</div>