@using AeBlog.ViewModels;
@using AeBlog.Display;
@model SinglePortfolioViewModel
@{
    ViewBag.LayoutParameters = new LayoutParameters(Model.Portfolio.Name, ViewType.Portfolio);
    Layout = "/Views/Layout.cshtml";
}

<div class="wrp prt">
    <h1 class="dbd">@Model.Portfolio.Name &mdash; @(Model.Portfolio.Published.HasValue ? Model.Portfolio.Published.Value.ToString("MMM yyyy") : "Ongoing Project")</h1>

    <img class="boxshadow" id="portfolio-banner" src="/assets/@Model.Portfolio.Banner" alt="@Model.Portfolio.Name" />

    <p><a href="/portfolio/">&laquo; Back to Portfolio</a></p>

    @if (!string.IsNullOrWhiteSpace(Model.Portfolio.Description)) {
        <div class="lft">
            <h3 class="dbd">Description</h3>
            @Html.Raw(Model.Portfolio.Description)
        </div>
    }

    <div class="rgt">
        @if (Model.Portfolio.Skills.Any())
        {
            <h3 class="dbd">Skills</h3>
            <ul>
                @foreach (var skill in Model.Portfolio.Skills)
                {
                    <li><a href="/portfolio/skill/@Html.UrlEncoder.UrlEncode(skill)/">@skill</a></li>
                }
            </ul>
        }
    </div>

    <div class="clr"></div>

    @if (!string.IsNullOrWhiteSpace(Model.Portfolio.Preview)) {
        <div id="portfolio-preview">
            <h3 class="dbd">Preview</h3>
            @Html.Raw(Model.Portfolio.Preview)
        </div>
    }

    @if (Model.Portfolio.Screenshots?.Count > 0)
    {
        <div class="portfolio-screenshots">
            <h3 class="dbd">Screenshots</h3>
            @foreach (var screenshot in Model.Portfolio.Screenshots)
            {
                <a href="/assets/@screenshot"><img class="dbd boxshadow" src="/assets/@screenshot" alt="@screenshot"/></a>
            }
        </div>
    }

    <p><br><a href="/portfolio/">&laquo; Back to Portfolio</a></p>
</div>