@using Humanizer
@using Ae.Blog.Extensions;
@model Ae.Blog.Models.Post[]
<aside class="right">
    <div class="sidebar">
        <h3>About the Author</h3>
        <p>Alan is a hobbyist <a href="https://iamestranged.com/">Game Developer</a> and a Software Engineer with @(Math.Floor((DateTime.UtcNow - DateTime.Parse("July 2012")).TotalDays / 365) - 1) years of industry experience.</p>
        <p class="icons">
            <a href="https://www.linkedin.com/in/alanedwardes"><img width="24" height="24" alt="LinkedIn Icon" src="https://s.edward.es/1f679431-d2ed-4a7c-8625-76a4d6955a09.svg" /></a>
            <a href="https://twitter.com/AlanEdwardes"><img width="24" height="24" alt="Twitter Icon" src="https://s.edward.es/1213a6ca-04eb-4a85-8e01-a06a4363398f.svg" /></a>
            <a href="https://steamcommunity.com/id/alanedwardes"><img width="24" height="24" alt="Steam Icon" src="https://s.edward.es/15619271-77c6-47de-ad33-c0c76fc06a1f.svg" /></a>
            <a href="https://github.com/alanedwardes/"><img width="24" height="24" alt="GitHub Icon" src="https://s.edward.es/1b9402ba-6ab3-4560-9dfd-f4a2d0704b06.svg" /></a>
            <a href="https://www.youtube.com/alanedwardes"><img width="24" height="24" alt="YouTube Icon" src="https://s.edward.es/6a53929e-010e-452b-99c7-da577db714de.svg" /></a>
        </p>
        <div>
            <ul class="cloud">
                @{
                    var wordStatistics = new Dictionary<string, int>();

                    foreach (var post in Model)
                    {
                        post.GetWordStatistics(wordStatistics);
                    }

                    var random = new Random(wordStatistics.Count);

                    var topWords = wordStatistics.OrderByDescending(x => x.Value).Take(25).OrderBy(x => random.Next(0, int.MaxValue));
                    var totalCount = topWords.Sum(x => x.Value);

                    foreach (var topWord in topWords)
                    {
                        var weight = (int)((topWord.Value / (double)totalCount) * 100d);
                        <li class="@("weight" + weight)"><a href="/blog/word/@topWord.Key/">@topWord.Key</a></li>
                    }
                }
            </ul>
            <div id="dynamic-latest-comments"></div>
            @foreach (var month in Model.GroupBy(x => x.Published.Year.ToString()))
            {
                <h4>Posts in @month.Key</h4>
                <ul>
                    @foreach (var post in month)
                    {

                        <li>@post.Title <a href="@post.Url">on @post.Published.Day.Ordinalize() of @post.Published.ToString("MMM")</a></li>
                    }
                </ul>
            }
        </div>
    </div>
</aside>
<script>
    fetch("https://alanedwardes.com/api/latestcomments.json")
        .then(data => data.json())
        .then(data => {
            const latestComments = document.getElementById('dynamic-latest-comments');

            const heading = document.createElement('h4');
            heading.innerText = 'Recent Comments';
            latestComments.appendChild(heading);

            const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            const ordinalSuffix = d => {
                if (d > 3 && d < 21) {
                    return 'th';
                }
                switch (d % 10) {
                    case 1: return "st";
                    case 2: return "nd";
                    case 3: return "rd";
                    default: return "th";
                }
            }

            const list = document.createElement('ul');
            for (let i = 0; i < Math.min(data.length, 5); i++) {
                const item = document.createElement('li');

                const author = document.createElement('span');
                author.textContent = data[i].comment.author;

                const space = document.createElement('span');
                space.textContent = ' ';

                const createdAt = new Date(data[i].comment.createdAt);

                const date = document.createElement('a');
                date.href = '/blog/posts/' + data[i].post.slug + '/#comment-' + data[i].comment.id;
                date.textContent = 'on ' + createdAt.getDate() + ordinalSuffix(createdAt.getDate()) + ' of ' + monthNames[createdAt.getMonth()] + ' ' + createdAt.getFullYear();

                item.appendChild(author);
                item.appendChild(space);
                item.appendChild(date);

                list.appendChild(item);
            }

            latestComments.appendChild(list);
        });
</script>