@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.DependencyInjection
@{
    var staticAssetPrefix = Context.RequestServices.GetRequiredService<IConfiguration>()["STATIC_ASSET_PREFIX"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/@staticAssetPrefix/styles/main.css" rel="stylesheet">
    <style>
        @await Html.PartialAsync("_CommonCss")
    </style>
    <link rel="alternate" type="application/rss+xml" href="~/rss.xml" />
    @if (ViewData["Description"] != null)
    {
        <meta name="description" content="@ViewData["Description"]">
    }
    @if (ViewData["Header"] != null)
    {
        @Html.Raw(ViewData["Header"]);
    }
    @if (ViewData["Image"] != null)
    {
        <meta property="og:image" content="@ViewData["Image"]">
    }
    else
    {
        <meta property="og:image" content="https://avatars.githubusercontent.com/u/110954?s=460&amp;v=4">
    }
    <title>@(ViewData["Title"] == null ? "Alan Edwardes" : $"{ViewData["Title"]} - Alan Edwardes")</title>
</head>
<body>
    <script type="application/ld+json">
        {
            "@@context": "http://schema.org",
            "@@type": "Person",
            "name": "Alan Edwardes",
            "url": "https://alanedwardes.com/",
            "sameAs": [
                "https://www.linkedin.com/in/alanedwardes/",
                "https://twitter.com/AlanEdwardes",
                "https://www.youtube.com/AlanEdwardes"
            ]
        }
    </script>
    <header>
        @await Html.PartialAsync("_Header")
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        @await Html.PartialAsync("_Footer")
    </footer>
    @if (ViewData["Footer"] != null)
    {
        @Html.Raw(ViewData["Footer"]);
    }
</body>
</html>
